/** CSS Variables */
:root {
  --primary-color: #222;
  --secondary-color: #fff;
}

/* General styles */
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Header styles */
header {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}
.gallery-title {
  font-size: 2rem;
  animation: pulse 2s infinite;
}

/* Keyframes for pulsating animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* Main content styles */
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.artwork {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  background-color: var(--secondary-color);
}

.artwork img {
  width: 100%;
  height: 200px;
}

.artwork:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
/* Footer styles */
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
  position: relative;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  margin-bottom: 20px;
}

.contact-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  padding-left: 0;
}

.contact-info li {
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
